

body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.board-container {
  width: 50%; /* set the width of the div */
  height: 250px; /* set the height of the div */
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid red;
  position: relative;
}

.rows {
  position: absolute;
  margin: auto;
  border: 1px solid red;
  
}

.cells {
  border: 1px solid red;
  font-size: 50px;
  margin: auto;
  width: 150px;
  height: 70px;
  text-align: center;
}

#game-winner {
  font-size: 80px;
}