

body {
  display: flex;
  align-items: center; /* center the div vertically */
  justify-content: center; /* center the div horizontally */
  height: 100vh; /* set the height of the body to the full viewport height */
}

.board-container {
  width: 50%; /* set the width of the div */
  height: 200px; /* set the height of the div */
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid red;
  position: relative;
}

.rows {
  position: absolute;
  margin: auto;
  width: 90%;
  height: 90%;
  border: 1px solid red;
  
}

.cells {
  border: 1px solid red;
  font-size: 50px;
  margin: auto;
}